#header {
    min-height: 25vh;
    padding: 1.5rem 0 1rem 0;
    background-color: var(--white)
}

#section {
    display: flex;
    justify-content: space-around;
}

#search-menu-container {
    width: 56rem;
    height: 9rem;
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}



#search-menu-container input {
    width: 32em;
    height: 3em;
    padding-left: 1.5em;
    border: none;
    border-radius: 8px;
    outline: none;
    background-color: #f8f8f8;
    opacity: 60%;
}



#logo {
    width: 14em;
}

#lupa {
    width: 1.5em;
    height: 1.5em;

    margin-left: -5em;
}

#search-menu-container a {
    color: var(--dark-gray-2);
    line-height: 1.75em;
    letter-spacing: 0.046875em;
}

#nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    margin: 2em 0 0 0;
    padding: 0;
}

#nav-list li {
    margin-right: 2em;
}

#nav-list li:last-child {
    margin-right: 0;
}

#nav-list a {
    font-size: small;
    text-decoration: none;
    color: var(--dark-gray-2);
}

#nav-list a:hover {
    color: var(--primary);
    font-weight: bold;
    font-size: small;
    text-decoration: underline;
}

#button-entrar {
    background-color: var(--primary);
    color: var(--light-gray-3);
    width: 7.125em;
    height: 2.5em;
    margin-left: -11rem;
    margin-top: 1rem;
    font-family: x-small;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 8px;
    
}

#flat-icon {
    width: 2rem;
    height: 4.5rem;
    margin-left: -7rem;
}
